In [2]:
import pandas as pd
import numpy as np

数据透视表（Pivot Table）是数据分析中常见的工具之一，根据一个或多个键值对数据进行聚合，根据列或行的分组键将数据划分到各个区域。

# 1.透视表

In [3]:
# pivot_table 默认计算均值
data = pd.DataFrame({'k1':['a','b','a','a','c','c','b','a','c','a','b','c'],
                     'k2':['one','two','three','two','one','one','three','one','two','three','one','two'],
                     'w':np.random.rand(12),'y':np.random.randn(12)})
print(data)
data.pivot_table(index='k1',columns='k2')

   k1     k2         w         y
0   a    one  0.226925 -0.415272
1   b    two  0.485766 -0.684052
2   a  three  0.998366 -0.547818
3   a    two  0.727411  0.317440
4   c    one  0.345570  0.422559
5   c    one  0.441748 -1.364205
6   b  three  0.527135 -0.884174
7   a    one  0.120490 -1.228491
8   c    two  0.607020 -1.682070
9   a  three  0.591658  0.607673
10  b    one  0.023575 -0.799248
11  c    two  0.630044  0.968881

           w                             y
k2       one     three       two       one     three       two
k1
a   0.173707  0.795012  0.727411 -0.821882  0.029928  0.317440
b   0.023575  0.527135  0.485766 -0.799248 -0.884174 -0.684052
c   0.393659       NaN  0.618532 -0.470823       NaN -0.356594

In [4]:
# 分类汇总并求和
data.pivot_table(index = 'k1',columns='k2',aggfunc='sum')

           w                             y
k2       one     three       two       one     three       two
k1
a   0.347415  1.590024  0.727411 -1.643763  0.059856  0.317440
b   0.023575  0.527135  0.485766 -0.799248 -0.884174 -0.684052
c   0.787318       NaN  1.237063 -0.941646       NaN -0.713189

# 2.交叉表

In [5]:
pd.crosstab(data.k1,data.k2)

k2  one  three  two
k1
a     2      2    1
b     1      1    1
c     2      0    2

In [6]:
pd.crosstab(data.k1,data.k2,margins= True)

k2   one  three  two  All
k1
a      2      2    1    5
b      1      1    1    3
c      2      0    2    4
All    5      3    4   12